In [27]:
import pandas as pd
raw_df = pd.read_csv('Online Retail.csv')

In [28]:
# Make a copy of original dataframe
df = raw_df

# Assesment

## Tidyness
*   Unnecessary columns to be removed

## Quality
*   Items labeled as 'lost', 'damaged' etc., to be removed
*   Description values to be further grouped into item categories

In [29]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680,France

In [30]:
df.loc[df.Description.isnull()]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,2010-12-01 11:52:00,0.0,15287,United Kingdom
1970,536545,21134,NaN,1,2010-12-01 14:32:00,0.0,15287,United Kingdom
1971,536546,22145,NaN,1,2010-12-01 14:33:00,0.0,15287,United Kingdom
1972,536547,37509,NaN,1,2010-12-01 14:33:00,0.0,15287,United Kingdom
1987,536549,85226A,NaN,1,2010-12-01 14:34:00,0.0,15287,United Kingdom
...,...,...,...,...,...,...,...,...
535322,581199,84581,NaN,-2,2011-12-07 18:26:00,0.0,15287,United Kingdom
535326,581203,23406,NaN,15,2011-12-07 18:31:00,0.0,15287,United Kingdom
535332,581209,21620,NaN,6,2011-12-07 18:35:00,0.0,15287,United Kingdom
536981,581234,72817,NaN,27,2011-12-08 10:33:00,0.0,15287,United Kingdom
538554,581408,85175,NaN,20,2011-12-08 14:06:00,0.0,15287,United Kingdom

In [31]:
df2=df.dropna()
df2=df.dropna(axis=0)

In [32]:
df2.loc[df2.Description.isnull()]

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

In [33]:
df2.loc[df.Country == 'Canada']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
119191,546533,20886,BOX OF 9 PEBBLE CANDLES,12,2011-03-14 13:53:00,1.95,15388,Canada
119192,546533,79030D,"TUMBLER, BAROQUE",6,2011-03-14 13:53:00,1.65,15388,Canada
119193,546533,21132,SILVER STANDING GNOME,4,2011-03-14 13:53:00,4.25,15388,Canada
119194,546533,84879,ASSORTED COLOUR BIRD ORNAMENT,8,2011-03-14 13:53:00,1.69,15388,Canada
119195,546533,84755,COLOUR GLASS T-LIGHT HOLDER HANGING,16,2011-03-14 13:53:00,0.65,15388,Canada
...,...,...,...,...,...,...,...,...
312960,564428,21993,FLORAL FOLK STATIONERY SET,12,2011-08-25 11:27:00,1.25,17844,Canada
312961,564428,23295,SET OF 12 MINI LOAF BAKING CASES,8,2011-08-25 11:27:00,0.83,17844,Canada
312962,564428,23293,SET OF 12 FAIRY CAKE BAKING CASES,16,2011-08-25 11:27:00,0.83,17844,Canada
312963,564428,23296,SET OF 6 TEA TIME BAKING CASES,8,2011-08-25 11:27:00,1.25,17844,Canada
312964,564428,23294,SET OF 6 SNACK LOAF BAKING CASES,8,2011-08-25 11:27:00,0.83,17844,Canada

In [34]:
"""
Drop unnessesary columns
"""

columns_to_drop = ['InvoiceNo','StockCode', 'CustomerID']
df2.drop(columns_to_drop, axis=1, inplace = True)
# Check the outcome
df2

,Description,Quantity,InvoiceDate,UnitPrice,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom
1,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom
...,...,...,...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,France
541905,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,France
541906,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,France
541907,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,France
541908,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,France

In [35]:
df2.Description.unique()

array(['WHITE HANGING HEART T-LIGHT HOLDER', 'WHITE METAL LANTERN',
       'CREAM CUPID HEARTS COAT HANGER', ..., 'lost',
       'CREAM HANGING HEART T-LIGHT HOLDER',
       'PAPER CRAFT , LITTLE BIRDIE'], dtype=object)

In [36]:
df2['Description'].str.isupper().all()

False

Examining the data we can identify lost or damaged descriptions are in lowercase.

In [37]:
df2[df2.Description.str[0].str.islower()]

       Description  Quantity          InvoiceDate  UnitPrice         Country
6391        amazon        20  2010-12-03 12:08:00        0.0  United Kingdom
6392        amazon        15  2010-12-03 12:08:00        0.0  United Kingdom
13217        check       -20  2010-12-06 15:35:00        0.0  United Kingdom
13218        check       -35  2010-12-06 15:36:00        0.0  United Kingdom
13264      damages       -43  2010-12-06 16:10:00        0.0  United Kingdom
...            ...       ...                  ...        ...             ...
535334       check        14  2011-12-07 18:36:00        0.0  United Kingdom
535335        lost     -1050  2011-12-07 18:38:00        0.0  United Kingdom
535336       check       -30  2011-12-07 18:38:00        0.0  United Kingdom
536908     missing      -338  2011-12-08 09:56:00        0.0  United Kingdom
538919     smashed      -235  2011-12-08 15:24:00        0.0  United Kingdom

[484 rows x 5 columns]

In [38]:
df2 = df2[df2.Description.str[0].str.isupper()]

In [39]:
df2[df2.Description.str[0].str.islower()]

Empty DataFrame
Columns: [Description, Quantity, InvoiceDate, UnitPrice, Country]
Index: []

In [40]:
df2[df2.Description.str[1].str.islower()]

,Description,Quantity,InvoiceDate,UnitPrice,Country
141,Discount,-1,2010-12-01 09:41:00,27.50,United Kingdom
2239,Manual,1,2010-12-01 15:35:00,1.25,United Kingdom
2250,Manual,1,2010-12-01 15:35:00,18.95,United Kingdom
2567,Dr. Jam's Arouzer Stress Ball,1,2010-12-01 17:06:00,4.21,United Kingdom
4406,Bank Charges,1,2010-12-02 15:08:00,15.00,United Kingdom
...,...,...,...,...,...
536047,Dotcomgiftshop Gift Voucher £10.00,1,2011-12-08 09:20:00,8.33,United Kingdom
536863,Next Day Carriage,1,2011-12-08 09:40:00,15.00,United Kingdom
537782,Next Day Carriage,1,2011-12-08 12:10:00,15.00,United Kingdom
538321,Manual,3,2011-12-08 13:50:00,0.42,United Kingdom
541541,Manual,-1,2011-12-09 10:28:00,224.69,United Kingdom

In [41]:
df2 = df2[df2.Description.str[1].str.isupper()]

In [42]:
df2[df2.Description.str[1].str.islower()]

Empty DataFrame
Columns: [Description, Quantity, InvoiceDate, UnitPrice, Country]
Index: []

In [79]:
df2 = df2[(df2.Description != 'WET/MOULDY')& 
          (df2.Description != 'FBA')&
          (df2.Description != 'DAMAGED')&
          (df2.Description != 'POSSIBLE DAMAGES OR LOST?')&
          (df2.Description != 'CREDIT ERROR')&
          (df2.Description != 'FOUND')&
          (df2.Description != 'MERCHANT CHANDLER CREDIT ERROR, STO')&
          (df2.Description != 'MIA')&
          (df2.Description != 'AMAZON')&
          (df2.Description != 'CRUK Commission')&
          (df2.Description != 'CHECK')&
          (df2.Description != 'SAMPLES')&
          (df2.Description != 'AMAZON FEE')&
          (df2.Description != 'PACKING CHARGE')&
          (df2.Description != 'OOPS ! adjustment')
          ]

In [80]:
"""
Group products and feed items into categories
"""
len(df2.Description.unique())

3870

In [81]:
# Create lists of groups based on https://mailchimp.com/resources/top-online-shopping-categories/ and dataset
apparel=['DRESS','SKIRT','SHIRT','JEANS',
          'SLEEPWEAR','SWIMWEAR','SHOES','SNEAKERS','HEELS']

accessories=['HEADPHONES', 'CHARM', 'HAT','SHOPPER','BAG', 'NECKLACE', 'NECKL', 'EARRINGS','HAIR CLIP','BRACELET',
             'CHOKER','CHAIN','BROOCH', 'PARASOL','SILK FAN','COLLAR','WRAP','RING','JEWEL','RIBBON','BEADS',
             'LIP','PURSE','PONCHO','BANGLE','COMB','LARIAT','DIAMANTE']

entertainment=['GAME','BOOK','MOVIE','MUSIC','CD','CARDS', 'DOLLY GIRL', 'HARMONICA','KNITTING','DOMINOES','HEN HOUSE','TOY',
               'DOLL','SKIPPING ROPE', 'CRAYONS','PLAYHOUSE','SNAKES & LADDERS','CLAY','FLYING SINGING','PAINT','NAUGHTS',
               'FUN','MONSTER','HELICOPTER','DOVECOTE','JIGSAW','TUSCAN VILLA','PUPPET','STICKY BUNNIES',
               'FARMYARD ANIMALS IN BUCKET','PATCHES','WATER BOMB','RADIO','SWINGING BUNNY','CARRIAGE','TIARA','HAIR BAND',
               'MAGIC','CRAWLIES']

household=['BOWL','SET', 'HOLDER','DOORSTOP','CAKESTAND','STAND', 'POSTAGE', 'CAKE CASE','BASKET','WICKER', 'CUSHION',
           'JAR', 'CURTAIN','RECIPE BOX','LAMP','TEACUP','BREAD BIN','MUG','PLATE','TRINKET BOX','CUP','CHANDELIER',
           'NIGHT LIGHT', 'CLOCK','PAD','WATER BOTTLE','LUNCH BOX','HOLDER','CANDLE','POT','COCKTAIL', 'CONTAINER',
           'MOULD', 'C/COVER','BAKING','HANGER', 'CUTLERY','FRAGRANCE OILS','BLOCK','CHALKBOARD','KITCHEN', 'JUG',
           'CLOTHES PEGS','TRAYS','DISH','PLASTERS','BLACK BOARD','COOKIE CUTTER','TISSUE','HAND WARMER', 'GLOVE',
           'PANTRY','APRON',' MEASURING SPOON','SEWING KIT','RED WOOLLY HOTTIE WHITE HEART','DOG FOOD','FRYING PAN',
           'GIFT TAGS','MONEY BANK','CASE','NAPKIN','INCENSE','TOWEL','ALBUM','PHOTO','RULER','GLASS','ERASER','FOB',
           'DISPENSER','SEWING','SACK','SHOE','TIN','UMBRELLA','OPENER','SLATE','LIST','MAGNET','BOX','SCISSOR','BELL',
           'TEA','HERB','PEN','MAGAZINE','CUBE','BACKPACK','SPONGE','BIB','TRAY','CAKE','PAN','TONGS','TAPE MEASURE',
           'TUMBLER', 'CANNISTER', 'THERMOMETER','CALCULATOR','SECATEURS','MEMOBOARD','BOTTLE','BEAKER','CLAM SHELL',
           'TEDDY','BULB','HOLE PUNCH','TATTOOS','SCREWDRIVER','IMAGES','COVER','BLACKBOARD','MOBILE','SANDALWOOD',
           'GOBLET','STRAW','COLANDER','CALENDAR','STICKERS','PLANTER','BIN','MARKERS','TRAVELING FAN','SCALES',
           'MARKER','FORK','LETTERS','TAPE','TAG','KIT','HAMPER','BUDDHA','BALLOON','ROCKET','TROWEL','BRUSH','BUCKET',
           'CACTUS','MAKERS','BASE','CADET','SPOON','DISCO','TOASTRACK','TABLE LIGHT','LEVEL','SNAKE','ICE CREAM',
           'MAC', 'WHEELBARROW', 'DISC', 'JOURNAL', 'RAKE', 'OWL', 'GLOBE', 'WARMER', 'SWAT', 'GROW YOUR OWN PLANT',
           'SOMBRERO', 'KNITTED', 'STICKER', 'RABBIT', 'FROG', 'THROW', 'CAGE', 'BOARD', 'POUFFE', 'COASTER', 'MUSHROOM',
           'GNOME', 'GLOW', 'QUILT', 'CAT', 'RUBBER', 'EGG COSY', 'GEISHA', 'SQUEEZER']

furniture=['PARTITION PANEL','CHAIR','SHELF','MIROR','COAT RACK','CABINET','CHEST','DOORKNOB','KNOB','HAMMOCK','WINDMILL',
           'LANTERN','VASE','PLANT LADDER','HANGING BELL','HOOK','ANTIQUE','TRELLIS','MIRROR','MAT','STOOL']

food=['TUTTI FRUTTI','CRACKERS','TOAST ITS']
           
decoration=['CHRISTMAS','DECORATION','TINSEL', 'GARLAND','ORNAMENT', 'ART', 'FLOWER','BUNTING','WREATH','PHOTOFRAME',
            'FRAME','T-LIGHT','MISTLETOE','BIRTHDAY BANNER','EASTER','SIGN','DOORMAT','CARD', 'MISELTOE','LIGHTS','CRAFT',
            'SLEIGH BELLS','CANVAS','RIBBONS','PAINTED METAL','HANGING','DOILEY','FLAG','UBO-LIGHT','SCREEN','SHADE',
            'DECORATIVE','FELT','WEIGHT','CERAMIC','CHIME','PORCELAIN','TREE','CONFETTI','BASIN','DRAWER']

In [82]:
# Introduce regex pattern
apparel = '|'.join(apparel)
accessories = '|'.join(accessories)
entertainment = '|'.join(entertainment)
household = '|'.join(household)
decoration = '|'.join(decoration)
food = '|'.join(food)
furniture = '|'.join(furniture)

In [83]:
apparel

'DRESS|SKIRT|SHIRT|JEANS|SLEEPWEAR|SWIMWEAR|SHOES|SNEAKERS|HEELS'

In [84]:
# Assign a group name to the correspondnig regex pattents of food items
import warnings
warnings.filterwarnings('ignore')
df2["Category"] = ""
df2["Category"][df2['Description'].str.contains(apparel)] = "Apparel"
df2["Category"][df2['Description'].str.contains(accessories)] = "Accessories"
df2["Category"][df2['Description'].str.contains(entertainment)] = "Entertainment"
df2["Category"][df2['Description'].str.contains(household)] = "Household"
df2["Category"][df2['Description'].str.contains(decoration)] = "Decoration"
df2["Category"][df2['Description'].str.contains(food)] = "Food"
df2["Category"][df2['Description'].str.contains(furniture)] = "Furniture"

In [85]:
# Check the outcome
df2.Category.value_counts()

Household        233675
Decoration       196198
Furniture         39886
Accessories       33473
Entertainment     12022
Food               1875
Apparel              51
Name: Category, dtype: int64

In [89]:
# Check if anything remains ungrouped
df2.loc[df2.Category == '']['Description'].value_counts()

Series([], Name: Description, dtype: int64)

In [90]:
# Final look
df2

,Description,Quantity,InvoiceDate,UnitPrice,Country,Category
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,United Kingdom,Decoration
1,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,United Kingdom,Furniture
2,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,United Kingdom,Decoration
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,United Kingdom,Decoration
4,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,United Kingdom,Decoration
...,...,...,...,...,...,...
541904,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,France,Household
541905,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,France,Household
541906,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,France,Household
541907,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,France,Household
541908,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,France,Household

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   541909 non-null  int64
 7   Country      541909 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 33.1+ MB